@import 'variables.scss';

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #9eb1bf;
  color: $white;
}

.container {
  width: 300px;
  margin: 0 auto;
}

h1 {
  color: $white;
}

form {
  line-height: 24px;
}

input,
select,
textarea {
  box-shadow: 0 0.3px 0.9px rgba(0, 0, 0, .12), 0 1.6px 3.6px rgba(0, 0, 0, .12);
  padding: 8px;
  border-radius: 4px;
  border: none;
  outline: none;
}

input[type="submit"] {
  padding: 8px 20px;
  font-size: 24px;
  background-color: brown;
  color: #fff;
  width: 120px;
}

.error {
  color: #ff0000;
}